@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$font-family: "Inter", "Segoe UI", Roboto, sans-serif;

$bg-blue: hsla(238, 53%, 44%, 1);
$dark-grey: hsla(0, 0%, 20%, 1);
$light-grey: hsla(0, 2%, 64%, 1);

$teal: hsla(192, 79%, 65%, 1);
$blue: hsla(211, 97%, 49%, 1);
$green: hsla(129, 50%, 68%, 1);
$yellow: hsla(48, 83%, 63%, 1);
$purple: hsla(238, 53%, 63%, 1);
$link-blue: hsla(237, 52%, 44%, 1);

$button-gradient: linear-gradient(97.42deg, #0378f6 32.12%, #1ac2ff 80.85%);
